@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

button {
    font-family: 'Raleway', sans-serif;
}

.contact {
    border-bottom: 1px solid white;
}

.addcontact {
    text-align: center;
    display: flex;
    flex-direction: column;
}

p {
    margin-left: 1rem;
}

#lms {
    font-size: 10pt;
}

#name {
    font-size: 15pt;
    margin-bottom: .25rem;
}

#name:hover {
    cursor: pointer;
    background-color:white;
    color: black;
}

#selectedName {
    background-color:white;
    color: black;
    font-size: 15pt;
    margin-bottom: .25rem;
}

#selectedName:hover {
    cursor: pointer;
    background-color:transparent;
    color: white;
}

#namespan {
    display: inline-block;
}

#deletespan {
    float: right;
}

#delete:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

#delete {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-right: 1rem;
    padding: .10rem;
    font-size: 10pt;
    border: 1px solid white;
    border-radius: 5px;
}



