@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

input {
    border: 1px solid black;
    border-radius: 5px;
    height: 1.25rem;
    text-indent: .25rem;
}

input::placeholder {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
